<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.eatBusan.placelike.mapper.PlaceLikeMapper">

    <insert id="insertPlaceLike" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO place_like (member_id, place_id)
        VALUES (#{memberId}, #{placeId})
    </insert>

    <select id="existsByMemberIdAndPlaceId" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM place_like
        WHERE member_id = #{memberId} AND place_id = #{placeId}
    </select>

    <delete id="deletePlaceLikeByPlaceIdAndMemberId">
        DELETE
        FROM place_like
        WHERE member_id = #{memberId} AND place_id = #{placeId}
    </delete>

    <select id="findPlaceLikesByMemberId" resultType="com.ssafy.eatBusan.placelike.dto.PlaceLikeDetailResponseDto">
        SELECT
            pl.id AS placeLikeId,
            p.id AS placeId,
            p.code,
            p.name,
            p.address,
            p.area_code AS areaCode,
            p.phone,
            p.url
        FROM place_like pl
        JOIN place p ON pl.place_id = p.id
        WHERE pl.member_id = #{memberId}
        <if test="lastId != null">
            AND pl.id &lt; #{lastId}
        </if>
        ORDER BY pl.id DESC
        LIMIT #{size}
    </select>



</mapper>